


#about-image {
    width: 100%;

}


#about-text {

    width: 100%;
    padding-bottom: 50px;

    text-align: center;

    h3 {
        padding-top: 50px;
        font-weight: 700;
        padding-bottom: 20px;

    }


}

.mySlider{
    width: 100%;
    overflow: hidden !important;
    .partner-slick{

     
        .slick-list{
            overflow: hidden !important;

        }
        img{
            width: 200px;
            height: 150px;
        }
    }
}


